h1 {text-align: center;
    color: rgb(40, 62, 49);
    font-family: lemon milk;
}

h2 {font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    font-family: times sans serif;

}

.image-gallery {margin-top: 10%;}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#9BB6A5;
    padding: 10px;
  }

.grid-item {
    background-color: rgba(40, 62, 49, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

figcaption {text-align: center;
    font-style: italic;
    font-size: .75em;
    color: rgb(237, 105, 89);
    font-family: times sans serif;}

a {float: right;
    margin-top: 20em;
    font-family: times sans serif;
    }

a:link {color:#283E31;
        text-decoration: none;
}

a:visited {color: #ED6959;
        text-decoration: none;
}

a:hover {color:#9BB6A5;
        text-decoration: none;
}
