#container {margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    }
h1 {background-color: #ED6959;
color: #FEE9F2;
font-family: baron neue;
letter-spacing: 2px;
border: 1px;
border: solid;
border-color: #D6A800;
padding: 10px;
}

h2 {background-color: #283E31;
color: #FEE9F2;
font-family: baron neue;
padding: 10px;
letter-spacing: 2px;
border: 1px;
border: solid;
border-color: #D6A800;
}

h3 {font-weight: 500;
    padding: 10px;
    font-family: Lemon milk;
}

ul {font-family: times sans serif; 
}

ol {font-family: times sans serif;}

a:hover {color:#9BB6A5;
text-decoration: none;
}

ul {list-style: upper-roman;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 1px solid;
    border-color:#283E31;
    border-radius: 15px;
    width: 45%;
    font-weight: 300;
    list-style-position: inside;
    
}  

.flex-child:first-child {
    margin-right: 20px;
    width: 45%;
    
} 

.bottom {
    margin-top: 60%;
    width: 100%;
    float: right;
}

a {float: right;
    margin-bottom: 20px;
    font-family: times sans serif;
    }

a:link {color:#283E31;
        text-decoration: none;
}

a:visited {color: #ED6959;
        text-decoration: none;
}

a:hover {color:#9BB6A5;
        text-decoration: none;
}

.ascending {}

